<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Facebook Status Update App Using Facebook Open Graph</title>
    <link rel="stylesheet" href="/bootstrap.min.css" media="screen" title="app css">
  </head>
  <body>
    <div class="container ">
      <form method="post" class="form-horizontal" action="/fb_status_update" enctype="multipart/form-data">
        <fieldset>
          <legend>Facebook Status Update</legend>

          <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Image Upload</label>
            <div class="col-lg-10">
              <input type="file" class="form-control"  name="file">
            </div>
          </div>
          <div class="form-group">
            <label for="textArea" class="col-lg-2 control-label">Status</label>
            <div class="col-lg-10">
              <textarea class="form-control" rows="3" id="textArea">
              </textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <button type="reset" class="btn btn-default">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>


    <script type="text/javascript">
      var access_token = <%- access_token %>;
      if(!access_token){
        alert('No access_token avilable add in the .env file')
      }
    </script>
  </body>
</html>
